<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2016 CK, Inc. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.dao.demo.old.dao.TimeSpanFatigueMapper">
  <resultMap id="BaseResultMap" type="com.tyj.dao.demo.old.bo.TimeSpanFatigue">
    <id column="driving_span" property="drivingSpan" jdbcType="INTEGER" />
    <result column="headwayMonitoringWarning" property="headwayMonitoringWarning" jdbcType="INTEGER" />
    <result column="urbanForwardCollisionWarning" property="urbanForwardCollisionWarning" jdbcType="INTEGER" />
    <result column="forwardCollisionWarning" property="forwardCollisionWarning" jdbcType="INTEGER" />
    <result column="overSpeedWarning" property="overSpeedWarning" jdbcType="INTEGER" />
    <result column="leftLaneDepartureWarning" property="leftLaneDepartureWarning" jdbcType="INTEGER" />
    <result column="rightLaneDepartureWarning" property="rightLaneDepartureWarning" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    `driving_span`, `headwayMonitoringWarning`, `urbanForwardCollisionWarning`, `forwardCollisionWarning`, `overSpeedWarning`, 
    `leftLaneDepartureWarning`, `rightLaneDepartureWarning`
  </sql>
  <insert id="insert" parameterType="com.tyj.dao.demo.old.bo.TimeSpanFatigue" useGeneratedKeys="true" keyProperty="driving_span">
    <![CDATA[
    insert into `time_span_fatigue` (`driving_span`, `headwayMonitoringWarning`, 
      `urbanForwardCollisionWarning`, `forwardCollisionWarning`, 
      `overSpeedWarning`, `leftLaneDepartureWarning`, 
      `rightLaneDepartureWarning`)
    values (#{drivingSpan,jdbcType=INTEGER}, #{headwayMonitoringWarning,jdbcType=INTEGER}, 
      #{urbanForwardCollisionWarning,jdbcType=INTEGER}, #{forwardCollisionWarning,jdbcType=INTEGER}, 
      #{overSpeedWarning,jdbcType=INTEGER}, #{leftLaneDepartureWarning,jdbcType=INTEGER}, 
      #{rightLaneDepartureWarning,jdbcType=INTEGER})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `time_span_fatigue` (`driving_span`, `headwayMonitoringWarning`, 
      `urbanForwardCollisionWarning`, `forwardCollisionWarning`, 
      `overSpeedWarning`, `leftLaneDepartureWarning`, 
      `rightLaneDepartureWarning`)
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.drivingSpan,jdbcType=INTEGER}, #{item.headwayMonitoringWarning,jdbcType=INTEGER}, 
        #{item.urbanForwardCollisionWarning,jdbcType=INTEGER}, #{item.forwardCollisionWarning,jdbcType=INTEGER}, 
        #{item.overSpeedWarning,jdbcType=INTEGER}, #{item.leftLaneDepartureWarning,jdbcType=INTEGER}, 
        #{item.rightLaneDepartureWarning,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.dao.demo.old.bo.TimeSpanFatigue" useGeneratedKeys="true" keyProperty="driving_span">
    insert into `time_span_fatigue`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drivingSpan != null">
        `driving_span`,
      </if>
      <if test="headwayMonitoringWarning != null">
        `headwayMonitoringWarning`,
      </if>
      <if test="urbanForwardCollisionWarning != null">
        `urbanForwardCollisionWarning`,
      </if>
      <if test="forwardCollisionWarning != null">
        `forwardCollisionWarning`,
      </if>
      <if test="overSpeedWarning != null">
        `overSpeedWarning`,
      </if>
      <if test="leftLaneDepartureWarning != null">
        `leftLaneDepartureWarning`,
      </if>
      <if test="rightLaneDepartureWarning != null">
        `rightLaneDepartureWarning`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drivingSpan != null">
        #{drivingSpan,jdbcType=INTEGER},
      </if>
      <if test="headwayMonitoringWarning != null">
        #{headwayMonitoringWarning,jdbcType=INTEGER},
      </if>
      <if test="urbanForwardCollisionWarning != null">
        #{urbanForwardCollisionWarning,jdbcType=INTEGER},
      </if>
      <if test="forwardCollisionWarning != null">
        #{forwardCollisionWarning,jdbcType=INTEGER},
      </if>
      <if test="overSpeedWarning != null">
        #{overSpeedWarning,jdbcType=INTEGER},
      </if>
      <if test="leftLaneDepartureWarning != null">
        #{leftLaneDepartureWarning,jdbcType=INTEGER},
      </if>
      <if test="rightLaneDepartureWarning != null">
        #{rightLaneDepartureWarning,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `time_span_fatigue`
    where `driving_span` = #{drivingSpan,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `time_span_fatigue`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `time_span_fatigue`
    where `driving_span` = #{drivingSpan,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `time_span_fatigue`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.dao.demo.old.bo.TimeSpanFatigue">
    update `time_span_fatigue`
    <set>
      <if test="headwayMonitoringWarning != null">
        `headwayMonitoringWarning` = #{headwayMonitoringWarning,jdbcType=INTEGER},
      </if>
      <if test="urbanForwardCollisionWarning != null">
        `urbanForwardCollisionWarning` = #{urbanForwardCollisionWarning,jdbcType=INTEGER},
      </if>
      <if test="forwardCollisionWarning != null">
        `forwardCollisionWarning` = #{forwardCollisionWarning,jdbcType=INTEGER},
      </if>
      <if test="overSpeedWarning != null">
        `overSpeedWarning` = #{overSpeedWarning,jdbcType=INTEGER},
      </if>
      <if test="leftLaneDepartureWarning != null">
        `leftLaneDepartureWarning` = #{leftLaneDepartureWarning,jdbcType=INTEGER},
      </if>
      <if test="rightLaneDepartureWarning != null">
        `rightLaneDepartureWarning` = #{rightLaneDepartureWarning,jdbcType=INTEGER},
      </if>
    </set>
    where `driving_span` = #{drivingSpan,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.dao.demo.old.bo.TimeSpanFatigue">
    update `time_span_fatigue`
    set `headwayMonitoringWarning` = #{headwayMonitoringWarning,jdbcType=INTEGER},
      `urbanForwardCollisionWarning` = #{urbanForwardCollisionWarning,jdbcType=INTEGER},
      `forwardCollisionWarning` = #{forwardCollisionWarning,jdbcType=INTEGER},
      `overSpeedWarning` = #{overSpeedWarning,jdbcType=INTEGER},
      `leftLaneDepartureWarning` = #{leftLaneDepartureWarning,jdbcType=INTEGER},
      `rightLaneDepartureWarning` = #{rightLaneDepartureWarning,jdbcType=INTEGER}
    where `driving_span` = #{drivingSpan,jdbcType=INTEGER}
  </update>
</mapper>