<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2016 CK, Inc. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.dao.demo.deviceGpsInfos.dao.ConditionBaseScoreMapper">
  <resultMap id="BaseResultMap" type="com.tyj.dao.demo.deviceGpsInfos.bo.ConditionBaseScore">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="flag_type" property="flagType" jdbcType="INTEGER" />
    <result column="car_front_collide" property="carFrontCollide" jdbcType="INTEGER" />
    <result column="limit_speed_alarm" property="limitSpeedAlarm" jdbcType="INTEGER" />
    <result column="left_lane_deviate" property="leftLaneDeviate" jdbcType="INTEGER" />
    <result column="city_front_collide" property="cityFrontCollide" jdbcType="INTEGER" />
    <result column="car_distance_monitor" property="carDistanceMonitor" jdbcType="INTEGER" />
    <result column="right_lane_deviate" property="rightLaneDeviate" jdbcType="INTEGER" />
    <result column="car_start" property="carStart" jdbcType="INTEGER" />
    <result column="car_end" property="carEnd" jdbcType="INTEGER" />
    <result column="speed_up" property="speedUp" jdbcType="INTEGER" />
    <result column="speed_down" property="speedDown" jdbcType="INTEGER" />
    <result column="person_front_collide" property="personFrontCollide" jdbcType="INTEGER" />
    <result column="collide_follow" property="collideFollow" jdbcType="INTEGER" />
    <result column="car_collide_follow" property="carCollideFollow" jdbcType="INTEGER" />
    <result column="person_collide_follow" property="personCollideFollow" jdbcType="INTEGER" />
    <result column="one_car_front_collide" property="oneCarFrontCollide" jdbcType="INTEGER" />
    <result column="two_car_front_collide" property="twoCarFrontCollide" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    `id`, `flag_type`, `car_front_collide`, `limit_speed_alarm`, `left_lane_deviate`, `city_front_collide`, `car_distance_monitor`, 
    `right_lane_deviate`, `car_start`, `car_end`, `speed_up`, `speed_down`, `person_front_collide`, `collide_follow`, `car_collide_follow`, 
    `person_collide_follow`, `one_car_front_collide`, `two_car_front_collide`, `description`
  </sql>
  <insert id="insert" parameterType="com.tyj.dao.demo.deviceGpsInfos.bo.ConditionBaseScore" useGeneratedKeys="true" keyProperty="id">
    <![CDATA[
    insert into `tb_condition_base_score` (`flag_type`, `car_front_collide`, `limit_speed_alarm`, 
      `left_lane_deviate`, `city_front_collide`, `car_distance_monitor`, 
      `right_lane_deviate`, `car_start`, `car_end`, 
      `speed_up`, `speed_down`, `person_front_collide`, 
      `collide_follow`, `car_collide_follow`, `person_collide_follow`, 
      `one_car_front_collide`, `two_car_front_collide`, 
      `description`)
    values (#{flagType,jdbcType=INTEGER}, #{carFrontCollide,jdbcType=INTEGER}, #{limitSpeedAlarm,jdbcType=INTEGER}, 
      #{leftLaneDeviate,jdbcType=INTEGER}, #{cityFrontCollide,jdbcType=INTEGER}, #{carDistanceMonitor,jdbcType=INTEGER}, 
      #{rightLaneDeviate,jdbcType=INTEGER}, #{carStart,jdbcType=INTEGER}, #{carEnd,jdbcType=INTEGER}, 
      #{speedUp,jdbcType=INTEGER}, #{speedDown,jdbcType=INTEGER}, #{personFrontCollide,jdbcType=INTEGER}, 
      #{collideFollow,jdbcType=INTEGER}, #{carCollideFollow,jdbcType=INTEGER}, #{personCollideFollow,jdbcType=INTEGER}, 
      #{oneCarFrontCollide,jdbcType=INTEGER}, #{twoCarFrontCollide,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR})
    ]]>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into `tb_condition_base_score` (`flag_type`, `car_front_collide`, `limit_speed_alarm`, 
      `left_lane_deviate`, `city_front_collide`, 
      `car_distance_monitor`, `right_lane_deviate`, 
      `car_start`, `car_end`, `speed_up`, 
      `speed_down`, `person_front_collide`, 
      `collide_follow`, `car_collide_follow`, 
      `person_collide_follow`, `one_car_front_collide`, 
      `two_car_front_collide`, `description`
      )
     values 
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.flagType,jdbcType=INTEGER}, #{item.carFrontCollide,jdbcType=INTEGER}, #{item.limitSpeedAlarm,jdbcType=INTEGER}, 
        #{item.leftLaneDeviate,jdbcType=INTEGER}, #{item.cityFrontCollide,jdbcType=INTEGER}, 
        #{item.carDistanceMonitor,jdbcType=INTEGER}, #{item.rightLaneDeviate,jdbcType=INTEGER}, 
        #{item.carStart,jdbcType=INTEGER}, #{item.carEnd,jdbcType=INTEGER}, #{item.speedUp,jdbcType=INTEGER}, 
        #{item.speedDown,jdbcType=INTEGER}, #{item.personFrontCollide,jdbcType=INTEGER}, 
        #{item.collideFollow,jdbcType=INTEGER}, #{item.carCollideFollow,jdbcType=INTEGER}, 
        #{item.personCollideFollow,jdbcType=INTEGER}, #{item.oneCarFrontCollide,jdbcType=INTEGER}, 
        #{item.twoCarFrontCollide,jdbcType=INTEGER}, #{item.description,jdbcType=VARCHAR}
        )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.tyj.dao.demo.deviceGpsInfos.bo.ConditionBaseScore" useGeneratedKeys="true" keyProperty="id">
    insert into `tb_condition_base_score`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="flagType != null">
        `flag_type`,
      </if>
      <if test="carFrontCollide != null">
        `car_front_collide`,
      </if>
      <if test="limitSpeedAlarm != null">
        `limit_speed_alarm`,
      </if>
      <if test="leftLaneDeviate != null">
        `left_lane_deviate`,
      </if>
      <if test="cityFrontCollide != null">
        `city_front_collide`,
      </if>
      <if test="carDistanceMonitor != null">
        `car_distance_monitor`,
      </if>
      <if test="rightLaneDeviate != null">
        `right_lane_deviate`,
      </if>
      <if test="carStart != null">
        `car_start`,
      </if>
      <if test="carEnd != null">
        `car_end`,
      </if>
      <if test="speedUp != null">
        `speed_up`,
      </if>
      <if test="speedDown != null">
        `speed_down`,
      </if>
      <if test="personFrontCollide != null">
        `person_front_collide`,
      </if>
      <if test="collideFollow != null">
        `collide_follow`,
      </if>
      <if test="carCollideFollow != null">
        `car_collide_follow`,
      </if>
      <if test="personCollideFollow != null">
        `person_collide_follow`,
      </if>
      <if test="oneCarFrontCollide != null">
        `one_car_front_collide`,
      </if>
      <if test="twoCarFrontCollide != null">
        `two_car_front_collide`,
      </if>
      <if test="description != null">
        `description`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="flagType != null">
        #{flagType,jdbcType=INTEGER},
      </if>
      <if test="carFrontCollide != null">
        #{carFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="limitSpeedAlarm != null">
        #{limitSpeedAlarm,jdbcType=INTEGER},
      </if>
      <if test="leftLaneDeviate != null">
        #{leftLaneDeviate,jdbcType=INTEGER},
      </if>
      <if test="cityFrontCollide != null">
        #{cityFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="carDistanceMonitor != null">
        #{carDistanceMonitor,jdbcType=INTEGER},
      </if>
      <if test="rightLaneDeviate != null">
        #{rightLaneDeviate,jdbcType=INTEGER},
      </if>
      <if test="carStart != null">
        #{carStart,jdbcType=INTEGER},
      </if>
      <if test="carEnd != null">
        #{carEnd,jdbcType=INTEGER},
      </if>
      <if test="speedUp != null">
        #{speedUp,jdbcType=INTEGER},
      </if>
      <if test="speedDown != null">
        #{speedDown,jdbcType=INTEGER},
      </if>
      <if test="personFrontCollide != null">
        #{personFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="collideFollow != null">
        #{collideFollow,jdbcType=INTEGER},
      </if>
      <if test="carCollideFollow != null">
        #{carCollideFollow,jdbcType=INTEGER},
      </if>
      <if test="personCollideFollow != null">
        #{personCollideFollow,jdbcType=INTEGER},
      </if>
      <if test="oneCarFrontCollide != null">
        #{oneCarFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="twoCarFrontCollide != null">
        #{twoCarFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `tb_condition_base_score`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_condition_base_score`
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `tb_condition_base_score`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(*) from `tb_condition_base_score`
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyj.dao.demo.deviceGpsInfos.bo.ConditionBaseScore">
    update `tb_condition_base_score`
    <set>
      <if test="flagType != null">
        `flag_type` = #{flagType,jdbcType=INTEGER},
      </if>
      <if test="carFrontCollide != null">
        `car_front_collide` = #{carFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="limitSpeedAlarm != null">
        `limit_speed_alarm` = #{limitSpeedAlarm,jdbcType=INTEGER},
      </if>
      <if test="leftLaneDeviate != null">
        `left_lane_deviate` = #{leftLaneDeviate,jdbcType=INTEGER},
      </if>
      <if test="cityFrontCollide != null">
        `city_front_collide` = #{cityFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="carDistanceMonitor != null">
        `car_distance_monitor` = #{carDistanceMonitor,jdbcType=INTEGER},
      </if>
      <if test="rightLaneDeviate != null">
        `right_lane_deviate` = #{rightLaneDeviate,jdbcType=INTEGER},
      </if>
      <if test="carStart != null">
        `car_start` = #{carStart,jdbcType=INTEGER},
      </if>
      <if test="carEnd != null">
        `car_end` = #{carEnd,jdbcType=INTEGER},
      </if>
      <if test="speedUp != null">
        `speed_up` = #{speedUp,jdbcType=INTEGER},
      </if>
      <if test="speedDown != null">
        `speed_down` = #{speedDown,jdbcType=INTEGER},
      </if>
      <if test="personFrontCollide != null">
        `person_front_collide` = #{personFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="collideFollow != null">
        `collide_follow` = #{collideFollow,jdbcType=INTEGER},
      </if>
      <if test="carCollideFollow != null">
        `car_collide_follow` = #{carCollideFollow,jdbcType=INTEGER},
      </if>
      <if test="personCollideFollow != null">
        `person_collide_follow` = #{personCollideFollow,jdbcType=INTEGER},
      </if>
      <if test="oneCarFrontCollide != null">
        `one_car_front_collide` = #{oneCarFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="twoCarFrontCollide != null">
        `two_car_front_collide` = #{twoCarFrontCollide,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        `description` = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyj.dao.demo.deviceGpsInfos.bo.ConditionBaseScore">
    update `tb_condition_base_score`
    set `flag_type` = #{flagType,jdbcType=INTEGER},
      `car_front_collide` = #{carFrontCollide,jdbcType=INTEGER},
      `limit_speed_alarm` = #{limitSpeedAlarm,jdbcType=INTEGER},
      `left_lane_deviate` = #{leftLaneDeviate,jdbcType=INTEGER},
      `city_front_collide` = #{cityFrontCollide,jdbcType=INTEGER},
      `car_distance_monitor` = #{carDistanceMonitor,jdbcType=INTEGER},
      `right_lane_deviate` = #{rightLaneDeviate,jdbcType=INTEGER},
      `car_start` = #{carStart,jdbcType=INTEGER},
      `car_end` = #{carEnd,jdbcType=INTEGER},
      `speed_up` = #{speedUp,jdbcType=INTEGER},
      `speed_down` = #{speedDown,jdbcType=INTEGER},
      `person_front_collide` = #{personFrontCollide,jdbcType=INTEGER},
      `collide_follow` = #{collideFollow,jdbcType=INTEGER},
      `car_collide_follow` = #{carCollideFollow,jdbcType=INTEGER},
      `person_collide_follow` = #{personCollideFollow,jdbcType=INTEGER},
      `one_car_front_collide` = #{oneCarFrontCollide,jdbcType=INTEGER},
      `two_car_front_collide` = #{twoCarFrontCollide,jdbcType=INTEGER},
      `description` = #{description,jdbcType=VARCHAR}
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>