<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tyj.dao.demo.general.dao.BaseDataMapper.TeamDeviceMapper">
    <delete id="delMember">
        delete from `tb_team_device`
        <where>
            <if test="teamId != null">
                AND `team_id` = #{teamId}
            </if>
            <if test="members != null">
                AND `device_id` IN
                <foreach item="item" collection="members" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>